/* Set FOnt */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Style */
.text-primary{
    color: #FD6E0A;
}

/* Header */

.header {
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.dark-2{
    color: #474747;
}

nav ul{
    display: flex;
    align-items: center;
}
/* Banner Class */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

/* Button Primary */

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: none;
}

/* Banner Styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.dark-01{
    color: #181818;
}

.banner-profile-picture{
    width: 584px;

}

.banner-content{
    max-width: 584px;
}